* {
  padding:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #333;
  display: block;
}
.title {
  background-color: #483d8b;
  text-align: center;
  padding: 20px 0;
  color: #fff;
  font-size: 24px;
}
.back {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
}
.list {
  background-color: #ececec;
  padding: 10px;
}
.list li {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
}

.flexbox {
  width: 100%;
  height: 100vh;
  background: yellow;
  display: grid;
  grid-template-rows: 80px 600px 80px;
  grid-template-columns: 0.5fr 1fr;
}

.flexbox header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background: blue;
}

.flexbox aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: green;
}

.flexbox main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: pink;
}

.flexbox footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  background: yellow;
}

.flexbox header ul {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  height: 100%;
}

.flexbox header li {
  margin-right:10px;
}

.responsive {
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
  display:grid;
  grid-template-rows:150px auto auto;
  align-items:center;
  background-color: aquamarine;
}

.responsive header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding:20px;
  margin:20px;
  background-color: #fff;
  box-sizing: border-box;
  display:grid;
  grid-template-columns:20% 50% 30%;
  font-size:20px;
  align-items: center;
}
.responsive header nav ul {
  list-style:none;
  align-items: center;
  height:100%;
  display:flex;
}
.responsive header nav ul li {
  align-items:center
}
.responsive header nav li a span{
  border-bottom:5px solid #fff;
}
.responsive header nav li a span:hover {
  border-bottom:5px solid #000;
  transition:all .1s
}
.responsive header nav.primary-nav {
  width:70%;
}
.responsive header nav.primary-nav ul {
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}
.responsive header nav.primary-nav li {
  font-weight:bold;
}
.responsive header nav.secondary-nav {
  display:flex;
  flex-direction: column;
}
.responsive header nav.secondary-nav ul{
  display:flex;
  flex-wrap:wrap;
  font-size: 18px;
}
.responsive header nav.secondary-nav li {
  flex:50%;
  margin:5px 0;
}
.responsive main {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin:20px;
  padding:20px;
  background-color: #fff;
}
.responsive main .container {
  display:flex;
  flex-direction:row;
}
.responsive main .container h2 {
  width:200px;
  margin-right:50px;
}
.responsive main .container p {
  width:400px;
  line-height:2
}
.responsive main .heroimage-wrap {
  margin-top:50px;
  position: relative;
}
.responsive main .heroimage-wrap img {
  width:600px;
}
.responsive main .heroimage-wrap .home-text {
  background-color:#fff;
  position:absolute;
  top:50%;
  left:550px;
  transform:translate(0, -50%);
  padding:30px;
}
.responsive main .heroimage-wrap .home-text h1 {
  margin-bottom:20px;
}
.responsive main .heroimage-wrap .home-text a {
  margin-top:20px;
  position:relative;
  font-weight:bold;
}
.responsive main .heroimage-wrap .home-text a span {
  display: block;
}

.responsive footer {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.button {
  width:170px;
  cursor:pointer;
}
.button::after {
  background:#dedede;
  content:'';
  width:130px;
  height:20px;
  position:absolute;
  bottom:0;
  right:0;
  z-index: -1;
  transition:all .5s
}
.button:hover::after  {
  width:170px;
  height:30px;
}





@media only screen and (max-width: 980px) {
  .responsive main .container{
    flex-direction:column;
  }
  .responsive main .container h2 {
    width:100%;
  }
  .responsive main .container p {
    width:100%;
  }
  .responsive main .heroimage-wrap img {
    width:100%
  }
  .responsive main .heroimage-wrap .home-text {
    position:static;
    top:0;
    transform: translate(0, 0)
  }
}

/**************responsive structure*******************/
.rs {
  box-sizing:border-box;
  width:100%;
  height:100vh;
  display:grid;
  grid-template-columns:auto auto;
  grid-template-rows:150px auto;
  padding:0 25px;
  grid-gap:10px;
}
.rs header {
  background: #fff;
  padding:30px 40px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  grid-column:1/2;
  grid-row:1/2;
  align-items:center;
  margin-top:25px;
}
.rs header nav {
  display:flex;
  flex-direction:row;
  flex-basis:80%;
  justify-content:space-between;
  align-items:center;
}
.rs header nav ul {
  display:flex;
  flex-direction:row;
  list-style:none;
  font-weight:bold;
}
.rs header nav .main_nav {
  flex:2;
  justify-content:space-evenly;
  font-size:25px;
}
.rs header nav .secondary_nav{
  flex:1;
  flex-wrap: wrap;
}
.rs header nav .secondary_nav span {
  border-bottom:5px solid #fff;
  display:inline-block;
  margin-top:10px;
}
.rs header nav .secondary_nav span:hover {
  border-bottom:5px solid #000;
  transition:all 0.2s;
}
.rs header nav .secondary_nav li {
  width:50%;
}
.rs main {
  grid-column:1/2;
  grid-row:2/3;
  margin-top:25px;
}
.rs main .title_area p {
  width:60%;
  font-size:25px;
  line-height:1.5
}
.rs main .list_wrap {
  display:flex;
  flex-direction:row;
  margin-top:50px;
}
.rs main .list_wrap .list_area {
  margin-top:50px;
  flex-basis:600px;
}
.rs main .list_wrap .list_area ul {
  list-style:none;
}
.rs main .list_wrap .list_area ul li {
  font-size:30px;
  margin-bottom:30px;
  font-weight:bold;
}
.rs main .list_wrap .list_area ul li span.active {
  border-bottom:5px solid #000;
  transition:.2s all;
}
.rs main .list_wrap .contents_area {
  flex-basis:700px;
  background-image: url('https://oxd.com/wp-content/uploads/2019/03/OXD-Homepage-Services-DigitalTransformation-1.jpg');
  background-position:center;
  background-size:cover;
  position:relative;
}
.rs main .list_wrap .contents_area .contents_area_text {
  background-color:#fff;
  position:absolute;
  top:50%;
  left:-20px;
  border-bottom:10px solid #000;
  width:80%;
  transform:translate(0, -50%);
  padding:20px;
}
.rs main .list_wrap .contents_area .contents_area_text p {
  margin:15px 0;
}
.rs main .list_wrap .contents_area .contents_area_text .btn {
  font-weight:bold;
  font-size:20px;
  position:relative;
  display:inline-block;
}
.rs main .list_wrap .contents_area .contents_area_text .btn::after {
  content:'';
  width:90%;
  height:25px;
  background-color:aquamarine;
  position:absolute;
  right:0;
  bottom:0;
  z-index: -1;
  transition:all .5s;
}
.rs main .list_wrap .contents_area .contents_area_text .btn:hover::after {
  width:100%;
  height:30px;
}

@media only screen and (max-width:680px) {
  .rs main .list_wrap {
    flex-direction:column;
  }
  .rs main .list_wrap .list_area {
    flex-basis:auto;
  }
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.re3 .container {
  width:100%;
  height:100vh;
  display:grid;
  grid-template-columns:500px 500px 500px;
  grid-template-rows:500px;
  grid-gap:10px;
}
.re3 .container .section {
  grid-row:1/2;
  position:relative;
  overflow:hidden;
  width:100%;
  background-size: cover;
}
.sec1 {
  background-image:url('https://oxd.com/wp-content/uploads/2021/01/r00-FortisBC-Website-Home-iMac-iPad-iPhone-spark-light-CA.png');
}
.sec2 {
  background-image:url('https://oxd.com/wp-content/uploads/2020/05/Hero.jpg" ')
}
.sec3 {
  background-image:url('https://oxd.com/wp-content/uploads/2019/03/01-EmilyCarr-FeatureImage.png')
}
.re3 .container .section img {
  max-width:100%;
}
.re3 .container .section .text {
  position:absolute;
  top:500px;
  left:0;
  padding:20px;
  color:#fff;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.5);;
}
.re3 .container .section .text p {
  margin-top:20px;
}
.re3 .container .section:hover .active {
  animation-name:moving;
  animation-duration:.5s;
  animation-fill-mode: forwards;
}
@keyframes moving {
  100% { top:0}
}